:root {
    --background-color: #EEF2F3;
    --lightgray-color: #E6EAEB;
    --darkgray-color: #6D757D;
    --yellow-color: #FED867;
    --teal-color: #029FB8;
}


body {
    background-color: var(--background-color, lightgray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    overflow: hidden;
}

#nav-container {
    width: 100vw;
}

.navbar {
    min-height: 64px;

    padding-left: 32px;
    padding-right: 32px;
}

.nav-items-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-item {
    margin-right: 8px;

    background-color: var(--lightgray-color, lightgray);
    border-radius: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-item input {
    width: 28vw;

    background-color: var(--lightgray-color, lightgray);
    border-radius: 22px;
    border: none;
}

#search-item input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
}

#search-item i {
    margin-left: 8px;
    margin-right: 16px;

    color: var(--darkgray-color, darkgray);
}

#profile-item {
    min-width: 38px;
    height: 38px;

    margin-left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow-color, yellow);
    border-radius: 50%;

    font-size: 22px;
}

#create-item {
    margin-left: 32px;
    margin-right: 32px;

    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow-color, yellow);

    border-radius: 24px;
}

#create-item a {
    padding-left: 0px;
    padding-right: 8px;

    color: black;

    text-decoration: none;

    font-weight: bold;
}

#main-container {
    min-height: calc(100vh - 128px);

    margin: 32px 0px 0px 32px;
}

#filter-container {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter-btn-group {
    height: 38px;
    width: 80%;
    margin: 0px 16px 32px 16px;

    background-color: var(--lightgray-color, lightgray);

    border-radius: 32px;
}

.btn-secondary {
    width: 33.3%;

    background-color: var(--lightgray-color, lightgray);

    color: black;
    font-weight: 500;

    border-style: none;
    border-radius: 32px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active:focus {
    background-color: var(--yellow-color, yellow);
    color: black;
    font-weight: bolder;

    box-shadow: none !important;

    border-style: none !important;
    border-radius: 32px !important;
}

#content-container {
    margin: 0;
}

#route-container {
    max-height: calc(100vh - 166px);
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#route-container::-webkit-scrollbar {
    display: none;
}

.route-cell {
    width: 80%;
    margin: 8px 16px;

    display: block;

    border: none;
    border-radius: 12px;

    transition: all .2s ease-in-out;
}

.route-cell .card-body {
    width: 100%;  

    border-radius: 12px;
}

.route-cell:first-child {
    margin-top: 0px;
}

.route-cell:last-child {
    margin-bottom: 32px;
}

.route-cell:hover, .route-cell:focus {
    /* margin-top: 24px;
    margin-bottom: 24px; */

    /* transform: scale(1.1); */
}

.route-cell:hover .card-body, .route-cell:focus .card-body {
    background-color: var(--teal-color, green);

    color: white;
    font-weight: bold;
}

#detail-container {
    min-height: 100%;

    margin-bottom: 32px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-card {
    width: 90%;

    height: 100%;

    border: none;
    border-radius: 24px;
}

#detail-card #card-map {
    width: 100%;
    height: 50%;

    border-radius: 24px 24px 0px 0px;
}

#detail-card .card-body h1 {
    font-weight: bold;
}

